   .left   
    text-align: left;
   }
   .right{
    text-align: right;
   }
   a{
    color: black;
    text-decoration: none;
   }
   button{
   border: 0px solid;
   }
   .padding{
       padding: 12px;
   }
   .paddin{
       padding-top: 200px;
   }
   body{
       font-family: Arial, Helvetica, sans-serif
   }
.pading{
       padding-top: 50px;
   }
   .padng{
       padding-right: 8px;
   }
   
